<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения по использованию преобразования web.config см. по ссылке http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)"  key="pfxFile" value="d:\websites\signitrel\signit.rel.nosunset.com\Certificates\NOSUNSET CONSULTING ApS - nemid test.p12"/>
  </appSettings>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)"  key="SignitCertificatePath" value="d:\websites\signitrel\signit.rel.nosunset.com\Certificates\NOSUNSET CONSULTING ApS signit preproduction.p12"/>
  </appSettings>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)"  key="SignitStorePath" value="d:\websites\signitrel\signit.rel.nosunset.com\Certificates\store.cer"/>
  </appSettings>

  <aws xdt:Transform="Replace" xdt:Locator="Match(profileName)" region="eu-west-1" profileName="development" profilesLocation="D:\websites\signitrel\signit.rel.nosunset.com\Certificates\credentials">
    <logging logTo="Log4Net"/>
  </aws>

  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
    name="umbracoDbDSN" connectionString="server=database.nosunset.com;database=signit.rel.nosunset.com;user id=signitrel;password=fg69_0rOp" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      В следующем пример преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле 
      <system.web>, не требуется использовать атрибут "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>