@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master</title>
    <script src="/scripts/jquery-2.2.3.min.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/scripts/angular.min.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/scripts/angular-route.min.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/scripts/angular-upload-min.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/scripts/IntegrationSampleApplication/app/app.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/config" type="text/javascript"></script>
    <script src="/scripts/IntegrationSampleApplication/controllers/controllers.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/scripts/IntegrationSampleApplication/services/services.js?cdv=1769799639" type="text/javascript"></script>
    <script src="/scripts/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/Scripts/ng-file-upload.min.js"></script>
    <link rel="stylesheet" href="/content/screen.css" />
    
</head>
<body ng-app="integrationApp">
    <div>
        @RenderBody()
    </div>
</body>
</html>
