<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Signit-->
    <add key="SignitMerchantName" value="" />
    <add key="SignitMerchantPassword" value="" />
    <!--https://www.signplatform.com for production-->
    <add key="SignitApiBaseUri" value="https://pp.signplatform.com" />
    <add key="SignitApiExitUrl" value="http://localhost:1742/cart#digital-signature/" />
    <!--Your obtained client id. You can register on https://pp.signplatform.com as a company and get client id and secret-->
    <!--Keep in mind that you need to contact signit to enable API-->
    <add key="SignitClientId" value="" />
    <add key="SignitClientSecret" value="" />
    <!--Signit end-->
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>